parameters:
    level: 7
    bootstrap: %rootDir%/../../../../df-base/tests/bootstrap.php
    paths:
        - src

    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Instantiated class Df\\Apex\\App not found\.#'
        - '#Static call to instance method Carbon\\CarbonInterval\:\:#'
        - '#^Strict comparison using === between DOMNode and null will always evaluate to false\.#'
        - '#^Return typehint of method Df\\((Opal\\Query\\(Builder\\Select|IWriteFacade|IReadFacade))|Plug\\Data)\:\:#'
